/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url(background-graph.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment :fixed;
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }






